img{
    height: 200px;
    width: 200px;
}
.capa{
    height: auto;
    width: auto;
    align-items: center;
}
body{
    background: #045d59;
}
h1,h2,h3,p,ul{
    color: aliceblue;
}
.divide{
    -webkit-column-count: 2;
    column-count: 2;
}